table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 8px;
    text-align: center;
    font-size: 14px;
}

th {
    background: rgba(0,0,0,0.2);
}

td button {
    padding: 5px 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #ff5252;
    color: white;
}
#monthlyChart {
    margin-top: 20px;
}